@import "./partials/mixin";

@mixin top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 7px;
}

*{
    margin: 0;
    box-sizing: border-box;
}



// Header

.header {
    width: 100%;
   
    padding: 5px 0;
    
    &_top {
            display: flex;  
            background-color: #000;
            color: #ffffff80;
            justify-content: space-between;
            align-items: center;
            padding: 0 5em;
            opacity: 0.7 !important ;
           
           
            &_phone{
               @include top-header;
                & p{
                    margin: 0;
                    
                }
            }
            &_email{
                @include top-header;
                & p {
                        margin: 0;
                    }
            }
            &_time{
                @include top-header;
                & p {
                        margin: 0;
                    }
            }
        }
        &_nav {
          
            background-color: rgb(255, 220, 220);
            
                
         
        }
       &_slide {
         position: absolute;
         top: 0;
         z-index: -1;
        
        
       }
}


.nav-hover:hover {
   color: #FFC068;
}

.carousel-content h1{
    font-family: 'Monoton', cursive;
    font-size: 4em;
}

.slide-btn1 {
   font-size: 1em;
   padding: 1em 1.5em;
   border-radius: 4px;
   border: none;
   background-color: #FFA323;
   color: #fff;
   
}

.slide-btn1:hover {
    border: 1px solid #FFA323;
    background-color: transparent;
    color: #FFA323;
}

.slide-btn2{
    font-size: 1em;
    padding: 1em 1.5em;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
 
.slide-btn2:hover {
    color: #FFA323;
    background-color: #fff;
}

// Content
.Content{
    display: block;
}