@import "./partials/mixin";

@mixin top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 7px;
}

*{
    margin: 0;
    box-sizing: border-box;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



// Header

.header {
    width: 100%;
   
    padding: 5px 0;
   
    
    &_top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
        // background: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        padding: 0 5em;  
        margin: 0 3em;
          
           
           
            &_phone{
               @include top-header;
                & p{
                    margin: 0;
                    
                }
            }
            &_email{
                @include top-header;
                & p {
                        margin: 0;
                    }
            }
            &_time{
                @include top-header;
                & p {
                        margin: 0;
                    }
            }
        }
    }

.header_nav{ 
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 3;
        padding: 0;
        margin: 1em 5em;
}

.wrap-nav{
   position: absolute;
   width: 100%;
}


.nav-hover{
    color: #fff;
    
    
}


.nav-hover:hover {
   color: #FFC068;
}



.header_slide {
    position: relative;
    top: -50px;
}

.carousel-content{
    width: 100%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-content h1{
    font-family: 'Monoton', cursive;
    font-size: 5em;
}

.slide-btn1 {
   font-size: 1em;
   padding: 1em 1.5em;
   border-radius: 4px;
   border: none;
   background-color: #FFA323;
   color: #fff;
   margin: 3em 10px;
   
}

.slide-btn1:hover {
    border: 1px solid #FFA323;
    background-color: transparent;
    color: #FFA323;
}

.slide-btn2{
    font-size: 1em;
    padding: 1em 1.5em;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
 
.slide-btn2:hover {
    color: #FFA323;
    background-color: #fff;
}

.slide-content{
    position: relative;
    display: flex;

}

// Content
.Content{
    display: block;

    &_intro-wrap{
        padding: 5em;

        & p{
           font-size: 18px;
           margin-top: 30px;
           line-height: 2   ;
           color: #6E6E6E;
           word-spacing: 1.5;
           margin-bottom: 1rem;
           
        }
    }
}

.heading-section{
    position: relative;
}

.heading-section h2 {
    font-size: 50px;
    font-weight: 650;

}

.sub-heading{
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    font-weight: normal;
    font-size: 100px;
    display: block;
    margin-bottom: 0;
    color: #ffa323;
    line-height: 1;
    font-family: "Miss Fajardose", cursive;
    margin-top: 0;
    z-index: -1;
    
}



.icon-video{
    width: 90px;
    height: 90px;
    background: #ffa323;
    margin: 0 auto;
    margin-bottom: -45px;
    border-radius: 50%;
}

.content-intro-section{
    position: relative;
    z-index: -1;
    top: -80px;
}


.intro-block{
        display: block;
        width: 100%;
        text-align: center;
}

.text strong.number{
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    display: block;
    margin-bottom: 20px;
}

.text span {
        display: block;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
}

.intro-section-des{
    position: relative;
    top: 100px;
}

// Content-Services

.Content_Services{
    padding: 5em;
}

.Content_Services-header{
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

.Services-block{
   
}

.Services-icon{
    position: relative;
    width: 130px;
    height: 130px;
    background-color: #000;
    border-radius: 50%;
    margin: auto;
}

.Services-icon i{
    font-size: 54px;
    color: #fff;
}

.Services-text{
    margin-top: 1rem;
    padding: 0.5rem;
}

.Services-text h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

.Services-text p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #666666;
    line-height: 1.8;
}

// Content_Specialties

.Content_Specialties{
    padding: 5em 1.5rem;
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.Content_Specialties-header{
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

.Content_Specialties-body{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.menu-wrap{
    margin-bottom: 3em;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.33333%;
}

.menu-title{
    text-align: center;
}

.menu-title h3{
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 1.5;
    color: #333333;
}

.menu-dish{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    padding: 30px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu-dish-img{
    width: 100px;
    height: 100px;  
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-dish-text{
        width: calc(100% - 100px);
        padding-left: 20px;
}

.menu-dish .menu-dish-text .dish-name h4{
    font-size: 24px;
    font-weight: 500;

}

.dish-price{
    width: 80px;
    text-align: right;
}

.dish-price span{
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    line-height: 1.3;
    transition: all 0.3s ease;
    border-bottom: 2px solid #ffa323;
}

.menu-dish .menu-dish-text p{
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 0;
    font-size: 17px;
}

.menu-dish:hover {
    background-color: #FFA323;
}


// Content_Book

.Content_Book{
    padding: 5em 0;
    position: relative;
}

.Content_Book-container{
   width: 100%;
   margin-left: auto;
   margin-left: auto;
   padding-left: 0 !important;
   padding-right: 0 !important;
}

.Content_Book-wrap{
   
    margin-left: 0;
    margin-right: 0;
}

.Content_Book-left{
    padding: 3rem;
    max-width: 50%;
}

.Content_Book-header{
    margin-bottom: 3rem;
 
}

.Book-info{
    position: relative;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.form{
    margin-bottom: 1rem;
}

.form label{
    font-weight: 600;
    color: #000000;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-input{
      height: 52px;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-weight: 400;
      line-height: 1.5;
}

.number-person{
    position: relative;
}

.number-person-icon::before{
    
}

.wrap-form{
    margin-top: 1rem;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }


.form-btn{
        background: #ffa323;
        border: 1px solid #ffa323;
        color: #fff;
        padding: 1rem 3rem;
        cursor: pointer;
        transition: all .5s ease;
}
.form-btn:hover{
    background-color: #fff;
    color: #ffa323;
}


@media screen and (max-width: 900px){
    .header_top{
        display: none;
    }
   .header_nav{
    background-color: #000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
   }
}